/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/


*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* Fretboard CSS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:darkslategrey;
}


/* Inside of the styling for fretboard, I'd like
to have the width of the board (aka length) match 25.5"
which is a common fretboard length. Since we only need the first
12 frets, we should only need 12.75" in theory. Perhaps that is because
that would be exactly middle of the 12th fret. I need to come up with 
the forumla required to known how much space is between each fret so we
can dynamically place dots. This may also allow for us to better identify
how long the fretboard ought to be after.
*/

.fretboard {
    position: relative;
    float:left;
    /*width: 12.75in;*/ 
    width: 14.25in;
    height: 2in;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
    overflow: cover;
}

.nut {
    position: relative;
    float: left;
    width: 0.20in;
    height: 2in;
    background: ivory;
    border: 1px solid #c145;
}

.fret {
    position: relative;
    float: left;
    width: 0.10in;
    height: 100%;
    background: linear-gradient(90deg, #ccc, #fff, #ccc);
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.string {
  position:absolute;
  background: linear-gradient(0deg, #ccc, #fff, #ccc);
  box-shadow: 0.00in 2px;
}

.string_01 {  
    top: 10%;
    width: 14.25in;
    height: 0.01in;
}

.string_02 {
    top: 25%;
    width: 14.25in;
    height: 0.02in;
}

.string_03 {
    top: 40%;
    width: 14.25in;
    height: 0.03in;
}

.string_04 {
    top: 55%;
    width: 14.25in;
    height: 0.04in;
}

.string_05 {
    top: 70%;
    width: 14.25in;
    height: 0.05in;
}

.string_06 {
    top: 86%;
    width: 14.25in;
    height: 0.06in;
}

.fret_marker_single{
  position: relative;
  top: 50%;
  margin: 0 auto;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

